<div class='container'>
  <div class='row'>
    <span class='span10' id='footer_links'>
      <ul class='unstyled'>
        <li><a href='#'>FAQ</a></li>
        <li><a data-toggle="modal" href="#modal-about">About us</a></li>
        <li><a data-toggle="modal" href="#modal-contact">Contact</a></li>
      </ul>
    </span>
    <span class='span2 pull-right' id='footer_social'>
      <ul class='unstyled'>
        <li><a href='#'><img src='img/facebook.png'></a></li>
        <li><a href='#'><img src='img/twitter.png'></a></li>
      </ul>
    </span>
  </div>
</div>