<div class='container'>
  <div class='row'>
    <ul class='thumbnails row'>

      <li class='span3'>
        <div class='thumbnail'>
          <img src='img/DSC_0.JPG' />
          <div class='caption'>
            <p>STYLE #  VT 01313</p>
            <p>COLOR # Smoke Blue / White</p>
            <p>FAB -100% cotton</p>
          </div>
        </div>
      </li>

      <li class='span3'>
        <div class='thumbnail'>
          <img src='img/DSC_1.JPG' />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>

      <li class='span3'>
        <div class='thumbnail'>
          <img src='img/DSC_2.JPG' />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>

      <li class='span3'>
        <div class='thumbnail'>
          <img src='img/DSC_3.JPG' />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>

    </ul>
    <ul class='thumbnails row' >
      <li class='span3'>
        <div class='thumbnail'>
          <img src='img/DSC_4.JPG' />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>

      <li class='span3'>
        <div class='thumbnail'>
          <img src='img/DSC_5.JPG' />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>

      <li class='span3'>
        <div class='thumbnail'>
          <img src='img/DSC_6.JPG' />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>

      <li class='span3'>
        <div class='thumbnail'>
          <img src='img/DSC_7.JPG' />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>
    </ul>

    <ul class='thumbnails row' >
      <li class='span3'>
        <div class='thumbnail'>
          <img src='img/DSC_8.JPG' />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>

      <li class='span3'>
        <div class='thumbnail'>
          <img src='img/DSC_9.JPG' />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>

      <li class='span3'>
        <div class='thumbnail'>
          <img src='img/DSC_10.JPG' />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>

      <li class='span3'>
        <div class='thumbnail'>
          <img src='img/DSC_11.JPG' />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>
    </ul>

    <ul class='thumbnails row' >
      <li class='span3'>
        <div class='thumbnail'>
          <img src='img/DSC_12.JPG' />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>

      <li class='span3'>
        <div class='thumbnail'>
          <img src='img/DSC_13.JPG' />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>

      <li class='span3'>
        <div class='thumbnail'>
          <img src='img/DSC_14.JPG' />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>

      <li class='span3'>
        <div class='thumbnail'>
          <img src='img/DSC_15.JPG' />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>