<div class='container'>
  <div class='row'>
    <ul class='thumbnails row'>

      <li class='span3'>
        <div class='thumbnail'>
          <img src="img/DSC_0.jpeg" />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>

      <li class='span3'>
        <div class='thumbnail'>
          <img src="img/DSC_1.jpeg" />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>

      <li class='span3'>
        <div class='thumbnail'>
          <img src="img/DSC_2.jpeg" />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>

      <li class='span3'>
        <div class='thumbnail'>
          <img src="img/DSC_3.jpeg" />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>

    </ul>
    <ul class='thumbnails row' >
      <li class='span3'>
        <div class='thumbnail'>
          <img src="img/DSC_4.jpeg" />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>

      <li class='span3'>
        <div class='thumbnail'>
          <img src="img/DSC_5.jpeg" />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>

      <li class='span3'>
        <div class='thumbnail'>
          <img src="img/DSC_3.jpeg" />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>

      <li class='span3'>
        <div class='thumbnail'>
          <img src="img/DSC_4.jpeg" />
          <div class='caption'>
            <h5>Design label</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>