<div class='container'>
  <div class='header-padding hidden-phone hidden-tablet'>&nbsp;</div>
  <div class='row'>
    <div class='span4'>
      <div class='padding-wrapper'>
        <div id='camera_wrap' class='camera_wrap'>
          <div data-src='img/slides/DSC_0.JPG' data-thumb='img/slides/DSC_0.JPG'>
            <div class='camera_caption'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
          </div>
          <div data-src='img/slides/DSC_1.JPG' data-thumb='img/slides/DSC_1.JPG'>
            <div class='camera_caption'>Donec tellus augue, varius nec malesuada ut, facilisis ac quam.</div>
          </div>
          <div data-src='img/slides/DSC_2.JPG' data-thumb='img/slides/DSC_2.JPG'>
            <div class='camera_caption'>Nullam leo quam, aliquam vel egestas ac, ornare in augue.</div>
          </div>
          <div data-src='img/slides/DSC_3.JPG' data-thumb='img/slides/DSC_3.JPG'>
            <div class='camera_caption'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
          </div>
          <div data-src='img/slides/DSC_4.JPG' data-thumb='img/slides/DSC_4.JPG'>
            <div class='camera_caption'>Donec tellus augue, varius nec malesuada ut, facilisis ac quam.</div>
          </div>
          <div data-src='img/slides/DSC_5.JPG' data-thumb='img/slides/DSC_5.JPG'>
            <div class='camera_caption'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
          </div>
          <div data-src='img/slides/DSC_1.JPG' data-thumb='img/slides/DSC_1.JPG'>
            <div class='camera_caption'>Donec tellus augue, varius nec malesuada ut, facilisis ac quam.</div>
          </div>
        </div>
      </div>
    </div>
    <div class='span1' style='height:1px'></div>
    <div class='span3' style='margin-right:45px'>
      <img class='thumbnail' src='img/220x150.gif' alt='Placeholder Image' />
    </div>
    <div class='span1' style='height:1px'></div>
    <div class='span3'>
      <img class='thumbnail' src='img/220x150.gif' alt='Placeholder Image' />
    </div>
  </div>
</div>