<div class='container'>
  <div class='row'>
    <span class='span8' id='product_main'>
      <div>
        <ul class='thumbnails row'>
          <li class='span6'>
            <a class='thumbnail cloud-zoom' id='zoom1' rel='adjustX: 36, adjustY:0'></a>
          </li>

          <li class='span2'>
            <b>Related Designs:</b>
            <li class='span2'>
              <a class='thumbnail'><img src={{related1}} /></a>
            </li>
            <li class='span2'>
              <a class='thumbnail'><img src={{related2}} /></a>
            </li>
            <li class='span2'>
              <a class='thumbnail'><img src={{related3}} /></a>
            </li>
          </li>
        </ul>
      </div>
    </span>
  </div>
</div>