<div class='container'>
  <div class='row'>
    <span class='span8' id='product_main'>
      <div class='product_intro row'>
        <h2 class='span8'>Ut enim ad minim veniam, quis</h2>
        <p class='span8'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
      </div>
      <div class='visible-desktop visible-tablet hidden-phone'>
        <ul class='thumbnails row'>
          <li class='span6'>
            <a class='thumbnail cloud-zoom' id='zoom1' rel='adjustX: 36, adjustY:0'>
              <img src={{imgSrc}} width=556px />
            </a>
          </li>

          <li class='span2'>
            <h3>Related products:</h3>
            <li class='span2'>
              <a class='thumbnail' href='#'><img src={{related1}} /></a>
            </li>
            <li class='span2'>
              <a class='thumbnail' href='#'><img src={{related2}} /></a>
            </li>
            <li class='span2'>
              <a class='thumbnail' href='#'><img src={{related3}} /></a>
            </li>
          </li>
        </ul>
      </div>
    </span>
  </div>
</div>